<!DOCTYPE html>
<html>
<head>
    <title>Iris Classifier</title>
    <link rel="stylesheet" href="static\style.css">
    <style>
        body { font-family: Arial; background: #f0f0f0; padding: 50px; }
        form { background: #fff; padding: 20px; border-radius: 8px; width: 300px; margin: auto; }
        input { margin-bottom: 10px; width: 100%; padding: 8px; }
        button { width: 100%; padding: 10px; background: #28a745; color: white; border: none; }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Iris Flower Classifier</h2>
    <form method="POST" action="/predict">
        {% for feature in feature_names %}
            <label>{{ feature }}</label><br>
            <input type="number" step="any" name="{{ feature }}" required><br>
        {% endfor %}
        <button type="submit">Predict</button>
    </form>
    {% if prediction %}
        <h3 style="text-align:center; color: blue;">Predicted Class: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
